<launch>    
    <arg name="i2cpwm_controller_config" default="$(find hexapod)/yaml/i2cpwm_controller_config.yaml"/>
    <arg name="ns" default="/"/>

    <group ns="$(arg ns)">        

        <node pkg="hexapod" type="i2cpwm_controller" name="i2cpwm_controller" output="screen">
            <param name="i2c_dev_file" value="/dev/i2c-1" type="str" />
            <param name="config_file" value="$(arg i2cpwm_controller_config)" />
        </node>

    </group>

</launch>
