<launch>    
    <arg name="servo_config" default="$(find hexapod)/yaml/servo_config.yaml"/>
    <arg name="ns" default="/"/>

    <group ns="$(arg ns)">        

        <node pkg="hexapod" type="servo_driver" name="servo_driver" output="screen">
            <param name="i2c_dev_file" value="/dev/i2c-1" type="str" />
            <param name="config_file" value="$(arg servo_config)" />
        </node>

    </group>

</launch>
